
<!-- <h1> Input Box for Url needs to be here</h1> -->
<form id="target" method="post" action="/data">
  <label> Enter the URL address of the website you want to scrape data from:
  <Input type="url" required name="url">
  </label>
  <Input type="submit" value="send data">
</form>

<!--second form which will be used for the user to specify which actual elements to scrape for-->
<form id="target" method="post" action="/data">
  <label> Enter the element to scrape data for:
  <Input type="text" required name="elements">
  </label>
  <Input type="submit" value="send data">
</form>
  {{#each datas}}
    <p>{{this}}</p>
  {{/each}}
<!-- <h2> A Table needs to be created here</h2> -->