
<!-- <h1> Input Box for Url needs to be here</h1> -->
<form method="post" action="#">
  <label> URL Address:
  <Input type="url" required>
  </label>
</form>
  <Input type="submit" value="send data">
<h2> A Table needs to be created here</h2>